<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
    	<p>
          I have over 4 years of experience as a software engineer, and have worked for small startups.
          While I have shown be a proficient full-stack developer, my expertise is in building scalable backend
          services.
        </p>
        <p>
          I love building things. While hard engineering problems are often intrinsically fun to tackle,
          I'm most attracted to solving real customer problems with a business justification.
        </p>
        <p>
          I am looking for a Machine Learning or Data Scientist role where I can tackle real life problems,
          and put into practise the theory I have seen along my academic formation.
        </p>
	<p>
	  <a target="_blank" href="https://www.linkedin.com/in/hdominguez/">See my LinkedIn profile</a> for more career details.
	</p>
      </div>
      <div class="col-sm-6">
	<h3 style="margin-top:0;">Highlights</h3>
	<ul>
    	  <li>
            Fluent in Python, ReactJS / Redux / Webpack, Linux
    	  </li>
          <li>
            Rest API designer
          <li>
            Test driven and Self-taught developer
    	  <li>
            Experienced handling sensitive data such as payment methods and anonymous survey results
    	  </li>
    	  <li>
            Experienced for the full lifecycle development, from initial requirement gathering
            to design, coding, testing, documentation and implementation
    	  </li>
          <li>
            Passionate for being challenged and engaging with projects that require me to work outside
            my comfort and knowledge set
          </li>
	</ul>
      </div>
    </div>
  </div>
</section>
