<section class="tout" id="interests">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Interests</h2>
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
	<p>
	  My personal interests include:
        </p>
	<ul>
	  <li>
	    <b>Machine learning</b>: I am working through several online classes, swap articles with collegues
            and gain experience with tools such as <a target="_blank" href="https://www.tensorflow.org/">Tensorflow</a> and <a target="_blank" href="http://scikit-learn.org/stable/">Scikit-Learn</a>
	  </li>
	  <li>
	    <b>Data Mining</b>: It is a good time for Data Mining. I am working on <a target="_blank" href="https://www.kaggle.com/">Kaggle</a> problems to gain experience
            in the field while expertise in tools such as <a target="_blank" href="https://rapidminer.com/">RapidMiner</a>,
            <a target="_blank" href="https://hadoop.apache.org/">Hadoop</a>, <a target="_blank" href="http://kylin.apache.org/">Kylin</a> and
            <a target="_blank" href="https://spark.apache.org/">Spark</a>
	  </li>
	  <li>
	    <b>Swimming</b>: I enjoy spent time on pools, lakes and beaches swimming
          </li>
	</ul>
      </div>
      <div class="col-sm-6">
        <h3 style="margin-top:0">Recent Projects</h3>
	<ul>
  	  <li>
            Collaborated in the app redesign of the <i>Stan Winston School of Characters Arts</i> web
            <a target="_blank" href="https://www.stanwinstonschool.com/">application</a>, and main back-end engineer in
            charge of the technology stack revamp. It is used as a e-learning platform. <b>Tech Stack</b>:
            Django, React / Redux / Webpack, Braintree, AWS, ElasticSearch
    	  </li>
  	  <li>
            Full-stack engineer of the 90Day web and mobile <a target="_blank" href="https://app.the90dayyear.com/">applications</a>,
            used as an accelerator for the <i>90 Day Year program</i>. <b>Tech Stack</b>: Django,
            React / Redux / Webpack, AWS, Cordova
  	  </li>
          <li>
            Creator of the <i>Flu Tracker</i> web <a target="_blank" href="https://github.com/Hector-hedb12/flu_tracker">application</a>,
            used as a surveillance tool. <b>Tech Stack</b>: Django, Scikit-Learn, PostgreSQL / PostGIS
          </li>
  	</ul>
  	<h3>Other Things</h3>
  	<ul>
  	  <li>
            MLH Hacker participant, hackathon attended: <a target="_blank" href="https://uottahack.com/">2018 uOttaHack</a>,
            <a target="_blank" href="http://cuhacking.com/">2018 CUHacking</a>
  	  </li>
  	  <li>
  	    Member of the <b>Ottawa Python</b> Meetup Group.
  	  </li>
	</ul>
      </div>
    </div>
  </div>
</section>
